<h4 class="content-header-title">UI Features - Typography</h4>
<div class="content-body">
  <h2>Headings</h2>
  <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline</p>
  <div class="box-example">
    <tabset>
      <tab heading='Example'>
        <table class="table"> 
          <tbody> 
            <tr> 
              <td><h1>h1. UII Framework heading</h1></td> 
              <td class="type-info">Bold 36px</td> 
            </tr> 
            <tr> 
              <td><h2>h2. UII Framework heading</h2></td> 
              <td class="type-info">Bold 30px</td> 
            </tr> 
            <tr> 
              <td><h3>h3. UII Framework heading</h3></td> 
              <td class="type-info">Bold 24px</td> 
            </tr> 
            <tr> 
              <td><h4>h4. UII Framework heading</h4></td> 
              <td class="type-info">Bold 18px</td> 
            </tr> 
            <tr> 
              <td><h5>h5. UII Framework heading</h5></td> 
              <td class="type-info">Bold 14px</td> 
            </tr> 
            <tr> 
              <td><h6>h6. UII Framework heading</h6></td> 
              <td class="type-info">Bold 12px</td> 
            </tr> 
          </tbody> 
        </table>
      </tab>
      <tab heading="How To Use">
        <pre>
&lt;h1&gt;h1. UII Framework heading&lt;/h1&gt;
&lt;h2&gt;h2. UII Framework heading&lt;/h2&gt;
&lt;h3&gt;h3. UII Framework heading&lt;/h3&gt;
&lt;h4&gt;h4. UII Framework heading&lt;/h4&gt;
&lt;h5&gt;h5. UII Framework heading&lt;/h5&gt;
&lt;h6&gt;h6. UII Framework heading&lt;/h6&gt;
        </pre>
      </tab>
    </tabset>
  </div>

  <h2>Body copy</h2>
  <p>UII Framework's global default <code>font-size</code> is <strong>14px</strong>, with a line-height of <strong>1.428</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (10px by default). Make a paragraph stand out by adding <code>.lead</code>.</p>
  <div class="box-example box-example-type">
    <tabset>
      <tab heading='Example'>
        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
        <p>Pellentesque lacinia sagittis libero et feugiat. Etiam volutpat adipiscing tortor non luctus. Vivamus venenatis vitae metus et aliquet. Praesent vitae justo purus. In hendrerit lorem nisl, ac lacinia urna aliquet non. Quisque nisi tellus, rhoncus quis est sit amet, lacinia euismod nunc. Aenean nec nibh velit. Fusce quis ante in nisl molestie fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas sit amet urna massa.</p>
        <p>Integer eu lectus sollicitudin, hendrerit est ac, sollicitudin nisl. Quisque viverra sodales lectus nec ultrices. Fusce elit dolor, dignissim a nunc id, varius suscipit turpis. Cras porttitor turpis vitae leo accumsan molestie. Morbi vitae luctus leo. Sed nec scelerisque magna, et adipiscing est. Proin lobortis lectus eu sem ullamcorper, commodo malesuada quam fringilla. Curabitur ac nunc dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sagittis enim eu est lacinia, ut egestas ligula imperdiet.</p>
      </tab>
      <tab heading="How To Use">
        <pre>
&lt;p&gt;...&lt;/p&gt;
&lt;p class="lead"&gt;...&lt;/p&gt;
        </pre>
      </tab>
    </tabset>
  </div>
</div>