<h4 class="content-header-title">UI Features - Information</h4>
<div class="content-body">
  <h2>Information</h2>
  <div class="box-example">
    <tabset>
      <tab heading='Example'>
        <div class="information information-default" role="information">
          <strong>Nothing!</strong> This just a message.
        </div>
        <div class="information information-primary" role="information">
          <strong>Nothing!</strong> This just a message.
        </div>
        <div class="information information-secondary" role="information">
          <strong>Nothing!</strong> This just a message.
        </div>
        <div class="information information-tertiary" role="information">
          <strong>Nothing!</strong> This just a message.
        </div>
        <div class="information information-success" role="information">
          <strong>Well done!</strong> You successfully read this important alert message.
        </div>
        <div class="information information-info" role="information">
          <strong>Heads up!</strong> This alert needs your attention, but it's not super important. 
        </div>
        <div class="information information-warning" role="information">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div class="information information-danger" role="information">
          <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
      </tab>
      <tab heading="How To Use">
        <pre>
&lt;div class="information information-default" role="information"&gt;...&lt;/div&gt;
&lt;div class="information information-primary" role="information"&gt;...&lt;/div&gt;
&lt;div class="information information-secondary" role="information"&gt;...&lt;/div&gt;
&lt;div class="information information-tertiary" role="information"&gt;...&lt;/div&gt;
&lt;div class="information information-success" role="information"&gt;...&lt;/div&gt;
&lt;div class="information information-info" role="information"&gt;...&lt;/div&gt;
&lt;div class="information information-warning" role="information"&gt;...&lt;/div&gt;
&lt;div class="information information-danger" role="information"&gt;...&lt;/div&gt;
        </pre>
      </tab>
    </tabset>
  </div>
</div>