<h4 class="content-header-title">UI Features - Button</h4>
<div class="content-body">
    <h2>Button Tags</h2>
    <p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>
    <div class="box-example">
      <tabset>
        <tab heading='Example'>
            <a class="btn btn-default" href="#" role="button">Link</a>
            <button class="btn btn-default" type="submit">Button</button>
            <input class="btn btn-default" type="button" value="Input">
            <input class="btn btn-default" type="submit" value="Submit">
        </tab>
        <tab heading="How To Use">
          <pre>
&lt;a class="btn btn-default" href="#" role="button"&gt;Link&lt;/a&gt;
&lt;button class="btn btn-default" type="submit"&gt;Button&lt;/button&gt;
&lt;input class="btn btn-default" type="button" value="Input"&gt;
&lt;input class="btn btn-default" type="submit" value="Submit"&gt;
          </pre>
        </tab>
      </tabset>
    </div>

    <h2>Button Options</h2>
    <p>Use any of the available button classes to quickly create a styled button.</p>
    <div class="box-example">
      <tabset>
        <tab heading='Example'>
          <button type="button" class="btn btn-default">Default</button> 
          <button type="button" class="btn btn-primary">Primary</button> 
          <button type="button" class="btn btn-secondary">Secondary</button> 
          <button type="button" class="btn btn-tertiary">Tertiary</button> 
          <button type="button" class="btn btn-success">Success</button> 
          <button type="button" class="btn btn-info">Info</button> 
          <button type="button" class="btn btn-warning">Warning</button> 
          <button type="button" class="btn btn-danger">Danger</button> 
          <button type="button" class="btn btn-link">Link</button>
        </tab>
        <tab heading="How To Use">
          <pre>
&lt;!-- Standard button --&gt;
&lt;button type="button" class="btn btn-default"&gt;Default&lt;/button&gt;

&lt;!-- Provides extra visual weight and identifies the primary action in a set of buttons --&gt;
&lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;

&lt;!-- Provides extra visual weight and identifies the secondary action in a set of buttons --&gt;
&lt;button type="button" class="btn btn-secondary"&gt;Secondary&lt;/button&gt;

&lt;!-- Provides extra visual weight and identifies the tertiary action in a set of buttons --&gt;
&lt;button type="button" class="btn btn-tertiary"&gt;Tertiary&lt;/button&gt;

&lt;!-- Indicates a successful or positive action --&gt;
&lt;button type="button" class="btn btn-success"&gt;Success&lt;/button&gt;

&lt;!-- Contextual button for informational alert messages --&gt;
&lt;button type="button" class="btn btn-info"&gt;Info&lt;/button&gt;

&lt;!-- Indicates caution should be taken with this action --&gt;
&lt;button type="button" class="btn btn-warning"&gt;Warning&lt;/button&gt;

&lt;!-- Indicates a dangerous or potentially negative action --&gt;
&lt;button type="button" class="btn btn-danger"&gt;Danger&lt;/button&gt;

&lt;!-- Deemphasize a button by making it look like a link while maintaining button behavior --&gt;
&lt;button type="button" class="btn btn-link"&gt;Link&lt;/button&gt;
          </pre>
        </tab>
      </tabset>
    </div>

    <h2>Button Sizes</h2>
    <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</p>
    <div class="box-example">
      <tabset>
        <tab heading='Example'>
            <p>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-default btn-lg">Large button</button>
              </p>
              <p>
                <button type="button" class="btn btn-primary">Default button</button>
                <button type="button" class="btn btn-default">Default button</button>
              </p>
              <p>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-default btn-sm">Small button</button>
              </p>
              <p>
                <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                <button type="button" class="btn btn-default btn-xs">Extra small button</button>
              </p>
        </tab>
        <tab heading="How To Use">
          <pre>
&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-lg"&gt;Large button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default btn-lg"&gt;Large button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type="button" class="btn btn-primary"&gt;Default button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default"&gt;Default button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-sm"&gt;Small button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default btn-sm"&gt;Small button&lt;/button&gt;
&lt;/p&gt;
&lt;p&gt;
  &lt;button type="button" class="btn btn-primary btn-xs"&gt;Extra small button&lt;/button&gt;
  &lt;button type="button" class="btn btn-default btn-xs"&gt;Extra small button&lt;/button&gt;
&lt;/p&gt;
          </pre>
        </tab>
      </tabset>
    </div>

  </div>