<h4 class="content-header-title">UI Features - Panel</h4>
<div class="content-body">
  <h2>Panel Options</h2>
  <div class="box-example">
    <tabset>
      <tab heading='Example'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
        <div class="panel panel-secondary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
        <div class="panel panel-tertiary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div> 
          <div class="panel-body"> Panel content </div>
        </div>
      </tab>
      <tab heading="How To Use">
        <pre>
&lt;div class="panel panel-default"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-primary"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-secondary"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-tertiary"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-success"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-info"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-warning"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
&lt;div class="panel panel-danger"&gt;
  &lt;div class="panel-heading"&gt;
    &lt;h3 class="panel-title"&gt;Panel title&lt;/h3&gt;
  &lt;/div&gt; 
  &lt;div class="panel-body"&gt; Panel content &lt;/div&gt;
&lt;/div&gt;
        </pre>
      </tab>
    </tabset>
  </div>
</div>