#content{
  background-color: $uii-content-bg;
}
.content-header-title{
  color: $uii-content-header-title-cl;
  border-bottom-color: $uii-content-header-title-border-cl;
}
.content-header{
  border-bottom-color: $uii-content-header-title-border-cl;
}