<h4 class="content-header-title">UI Features - Wells</h4>
<div class="content-body">
  <h2>Wells Options</h2>
  <div class="box-example">
    <tabset>
      <tab heading='Example'>
        <div class="well margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-default margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-primary margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-secondary margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-tertiary margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-success margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-info margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-warning margin-bottom-10">
          Look, I'm in a well!
        </div>
        <div class="well well-danger">
          Look, I'm in a well!
        </div>
      </tab>
      <tab heading="How To Use">
        <pre>
&lt;div class="well"&gt;
  
&lt;/div&gt;
&lt;div class="well well-default"&gt;
  
&lt;/div&gt;
&lt;div class="well well-primary"&gt;
  
&lt;/div&gt;
&lt;div class="well well-secondary"&gt;
  
&lt;/div&gt;
&lt;div class="well well-tertiary"&gt;
  
&lt;/div&gt;
&lt;div class="well well-success"&gt;
  
&lt;/div&gt;
&lt;div class="well well-info"&gt;
  
&lt;/div&gt;
&lt;div class="well well-warning"&gt;
  
&lt;/div&gt;
&lt;div class="well well-danger"&gt;
  
&lt;/div&gt;
        </pre>
      </tab>
    </tabset>
  </div>

  <h2>Wells Sizes</h2>
     <div class="box-example">
      <tabset>
        <tab heading='Example'>
          <div class="well well-lg margin-bottom-10">
            Look, I'm in a large well!
          </div>
          <div class="well well-sm">
            Look, I'm in a small well!
          </div>
        </tab>
        <tab heading="How To Use">
          <pre>
&lt;div class="well well-lg"&gt;

&lt;/div&gt;
&lt;div class="well well-sm"&gt;
  
&lt;/div&gt;
          </pre>
        </tab>
      </tabset>
    </div>
</div>