<h4 class="content-header-title">UI Features - Label</h4>
<div class="content-body">
    <h2>Labels Implementation</h2>
    <div class="box-example">
      <tabset>
        <tab heading='Example'>
            <h1>Example heading <span class="label label-default">New</span></h1> 
            <h2>Example heading <span class="label label-default">New</span></h2> 
            <h3>Example heading <span class="label label-default">New</span></h3> 
            <h4>Example heading <span class="label label-default">New</span></h4> 
            <h5>Example heading <span class="label label-default">New</span></h5> 
            <h6>Example heading <span class="label label-default">New</span></h6>
        </tab>
        <tab heading="How To Use">
          <pre>
&lt;h1&gt;Example heading &lt;span class="label label-default"&gt;New&lt;/span&gt;&lt;/h1&gt; 
&lt;h2&gt;Example heading &lt;span class="label label-default"&gt;New&lt;/span&gt;&lt;/h2&gt; 
&lt;h3&gt;Example heading &lt;span class="label label-default"&gt;New&lt;/span&gt;&lt;/h3&gt; 
&lt;h4&gt;Example heading &lt;span class="label label-default"&gt;New&lt;/span&gt;&lt;/h4&gt; 
&lt;h5&gt;Example heading &lt;span class="label label-default"&gt;New&lt;/span&gt;&lt;/h5&gt; 
&lt;h6&gt;Example heading &lt;span class="label label-default"&gt;New&lt;/span&gt;&lt;/h6&gt;
          </pre>
        </tab>
      </tabset>
    </div>

    <h2>Labels Options</h2>
    <p>Add any of the below mentioned modifier classes to change the appearance of a label.</p>
    <div class="box-example">
      <tabset>
        <tab heading='Example'>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-secondary">Secondary</span>
            <span class="label label-tertiary">Tertiary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </tab>
        <tab heading="How To Use">
          <pre>
&lt;span class="label label-default"&gt;Default&lt;/span&gt;
&lt;span class="label label-primary"&gt;Primary&lt;/span&gt;
&lt;span class="label label-secondary"&gt;Secondary&lt;/span&gt;
&lt;span class="label label-tertiary"&gt;Tertiary&lt;/span&gt;
&lt;span class="label label-success"&gt;Success&lt;/span&gt;
&lt;span class="label label-info"&gt;Info&lt;/span&gt;
&lt;span class="label label-warning"&gt;Warning&lt;/span&gt;
&lt;span class="label label-danger"&gt;Danger&lt;/span&gt;
          </pre>
        </tab>
      </tabset>
    </div>

    <h2>Badges</h2>
    <p>Easily highlight new or unread items by adding a <code>&lt;span class="badge"&gt;</code> to links, status, navs, and more.</p>
    <div class="box-example">
      <tabset>
        <tab heading='Example'>
            <button class="btn btn-link" type="button">
              Default <span class="badge badge-default">4</span>
            </button>
            <button class="btn btn-link" type="button">
              Primary <span class="badge badge-primary">4</span>
            </button>
            <button class="btn btn-link" type="button">
              Secondary <span class="badge badge-secondary">4</span>
            </button>
            <button class="btn btn-link" type="button">
              Tertiary <span class="badge badge-tertiary">4</span>
            </button>
            <button class="btn btn-link" type="button">
              Success <span class="badge badge-success">4</span>
            </button>
            <button class="btn btn-link" type="button">
              Info <span class="badge badge-info">4</span>
            </button>
            <button class="btn btn-link" type="button">
              Warning <span class="badge badge-warning">4</span>
            </button>
            <button class="btn btn-link" type="button">
              Danger <span class="badge badge-danger">4</span>
            </button>
        </tab>
        <tab heading="How To Use">
          <pre>
&lt;span class="badge badge-default"&gt;..&lt;/span&gt;
&lt;span class="badge badge-primary"&gt;..&lt;/span&gt;
&lt;span class="badge badge-secondary"&gt;..&lt;/span&gt;
&lt;span class="badge badge-tertiary"&gt;..&lt;/span&gt;
&lt;span class="badge badge-success"&gt;..&lt;/span&gt;
&lt;span class="badge badge-info"&gt;..&lt;/span&gt;
&lt;span class="badge badge-warning"&gt;..&lt;/span&gt;
&lt;span class="badge badge-danger"&gt;..&lt;/span&gt;
          </pre>
        </tab>
      </tabset>
    </div>

</div>