<h4 class="content-header-title">Component - Switch</h4>
<div class="content-body">
  <h2>Usage</h2>
  <p>Import <code>PilarModule</code> in your root module <code>*.app.module</code>.</p>
  <div class="box-template" [innerHTML]="basicImportModule"></div>
  <h2>Switch Example</h2>
  <div style="margin: 30px 0;">
    <uii-switch
      [useOverlay]="false"
      [checked]="_checked"
      [disabled]="false"
      (changed)="onChangeSwitch($event)"
      (changeEvent)="onChangeEvent($event)"></uii-switch>
  </div>
  <div class="box-example">
    <tabset>
      <tab heading='template'>
        <div class="box-template" [innerHTML]="basicTemplate"></div>
      </tab>
      <tab heading="component">
        <div class="box-component" [innerHtml]="basicComponent"></div>
      </tab>
    </tabset>
  </div>
</div>