// Styling for the Slim Loading Progress Bar itself
.slim-loading-bar{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.slim-loading-bar-progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: green;
  color: green;
  box-shadow: 0 0 10px 0; // Inherits the font color
  height: 2px;
  opacity: 0;

  // Add CSS3 styles for transition smoothing
  transition: all .5s ease-in-out;
}
